@mixin outer-container($textAlign: left) {
    display: flex;
    justify-content: $textAlign;
    width: 100%;
}
.outerContainerLeft {
    @include outer-container(left);
}
.outerContainerCenter {
    @include outer-container(center);
}

.headerContainer {
    text-transform: uppercase;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}