@mixin outer-container($textAlign: left) {
    display: flex;
    justify-content: $textAlign;
    width: 100%;
}
.outerContainerLeft {
    @include outer-container(left);
}
.outerContainerCenter {
    @include outer-container(center);
}

.headerContainer {
    text-transform: uppercase;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.centerContainer {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.flexGap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dataContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}